<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header bg-success text-white text-center">Make Article Featured</div>
    <div class="card-body">
      <form [formGroup]="FeaturedForm" (ngSubmit)="sendForm()">
        <div class="form-group">
          <label for="Article">Select Article:</label>
          <select class="form-control" id="Article" formControlName="Article">
            <option *ngFor="let blog of blogs" [ngValue]="blog">{{blog}}</option>
          </select>
          <div *ngIf="Article.errors && !Article.pristine">
            <small *ngIf="Article.errors.required" class="form-text error-color">Article Required</small>
          </div>
        </div>
        <div class="form-group">
          <label>Featured:</label>
          <div class="featured-check">
            <input class="featured-check-input" id="featured_true" type="radio" formControlName="Featured" value="true">
            <label class="featured-check-label" for="featured_true">
              <span class="pl-2">True</span>
            </label>
          </div>
          <div class="featured-check">
            <input class="featured-check-input" id="featured_false" type="radio" formControlName="Featured" value="false">
            <label class="featured-check-label" for="featured_false">
              <span class="pl-2">False</span>
            </label>
          </div>
        </div>
        <button class="btn btn-success btn-block" type="submit">Save Changes</button>
      </form>
    </div>
  </div>
</div>