<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <!--<li class="nav-item dropdown dropdown-extra">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <fa-icon [icon]="['fas','chart-area']"></fa-icon>
      <span> Analytics</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="login.html">
        <fa-icon [icon]="['fas','newspaper']"></fa-icon>
        <span> Article Featured</span>
      </a>
      <a class="dropdown-item" href="register.html">
        <fa-icon [icon]="['fas','newspaper']"></fa-icon>
        <span> Article Featured</span>
      </a>
    </div>
  </li>-->
  <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="/dashboard/analytics">
      <fa-icon [icon]="['fas','chart-area']"></fa-icon>
      <span> Course Analytics</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="/dashboard/test">
      <fa-icon [icon]="['fas','upload']"></fa-icon>
      <span> Upload Course</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="/dashboard/article-update">
      <fa-icon [icon]="['fas','newspaper']"></fa-icon>
      <span> Make Article Featured</span>
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="/dashboard/course-uploader">
      <fa-icon [icon]="['fas','user-plus']"></fa-icon>
      <span> Add Course Uploader</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <fa-icon [icon]="['fas','user-cog']"></fa-icon>
      <span> Add Blog Author</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <fa-icon [icon]="['fas','users-cog']"></fa-icon>
      <span> Admin Management</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <fa-icon [icon]="['fas','table']"></fa-icon>
      <span> Report</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <fa-icon [icon]="['fas','certificate']"></fa-icon>
      <span> Certificate Claims</span></a>
  </li>
</ul>