<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <fa-icon [icon]="['fas','tachometer-alt']"></fa-icon>
      <span> Admin</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <fa-icon [icon]="['fas','chart-area']"></fa-icon>
      <span> Course Analytics</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <fa-icon [icon]="['fas','upload']"></fa-icon>
      <span> Upload Course</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <fa-icon [icon]="['fas','user-plus']"></fa-icon>
      <span> Add Course Uploader</span></a>
  </li>
</ul>